.checkoutMessage {
  width: fit-content;
  margin: 1rem auto;
}
.checkout__bill{
  background: #bae3f0;
  padding: 30px;

}
.checkout__total{
  border-top: 1px solid #ddd;
  padding-top: 30px;

}
.checkoutIcon {
  width: 2rem;
  color: #4bb543;
  height: 2rem;
}

.checkoutTitleContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.7rem;
}



@media only screen and (max-width: 768px) {
  .checkout__bill h6{
    font-size: 0.9rem;
  }
  .checkout__bill {
    margin-top: 40px;
  }
}
